.todos_wrapper{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 6px -3px;
    padding: 5px;
}

.todos_wrapper h4{
    margin: 0 auto;
    width: 90px;
}

.todos{
    height: 150px;
    overflow-y:scroll;
}

.item{
    margin-bottom: 5px;
}
