.app_wrapper{

}

.bottom_part{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  margin: 25px;
}

.header{
  color: white;
  margin-bottom: 15px;
  background-color: #313131;
  position: relative;
  height: 50px;
}

.navbar{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 6px -3px;
}

.content {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 6px -3px;
  padding: 10px;
}
